* {
  overflow-x: hidden;
}

html {
  background: url("../assets/backgrounds/backs.png");
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.profile-menu {
  position: absolute;
  right: 0;
  z-index: 15;
}

#routerLink {
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding-bottom: 10vh;
}

content-wrapper {
  box-sizing: content-box;
}

html {
  overflow: hidden;
}

main#routerLink {
  height: 88vh;
}

.oculto {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    right: -70%;
    z-index: 0;
  }
  to {
    opacity: 1;
    right: 2%;
    z-index: 400;
  }
}

.show {
  bottom: 164px;
  width: 355px;
  height: 106px;
  position: fixed;
  background-color: transparent;
  animation: fadeIn 3s forwards;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#fondo:before {
  content:'';
  position: absolute;
        top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: rgba(0,0,0,0.35);
}
#comand_player_desk{
    display: none;
}

#volumen_desk{
    display: none;

}

app-volumen{
  position: fixed;
  right: -15px;
  bottom: 56px;
  height: 36vw;
}

@media(min-width: 600px) {
  #comand_player_desk {
    display: inherit;
  }
  #volumen_desk {
    display: inherit;
  }
  @keyframes fadeIn {
    from {opacity: 0;right: -70%;z-index: 0;}
    to {opacity: 1; right: 32%;z-index: 400;}
  }



  .show {
  
    height: 106px;
    position: fixed;
    background-color: transparent;
    animation: fadeIn 3s forwards;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0px;
    bottom: 164px;
    width: 100%;
  }

  #comand_player_desk{
    display: initial;
}
#volumen{
    display: none;
}

#comand_player{
    display: none;
}


#volumen_desk{
    display: initial;

}

}