.pricing-container {
    display: flex;
    position: absolute;
    left: 5px;
    top: 150px;
}

.pricing-container>:nth-child(1) {
    left: 0px;
    z-index: 1;
}

.pricing-container>:nth-child(2) {
    left: -10px;
    z-index: 2;
}

.pricing-container>:nth-child(3) {
    left: -20px;
    z-index: 1;
}

.pricing-wrapper {
    /* CardMedium */
    position: relative;
    width: 130px;
    height: 260px;
    /* Primario */
    background: var(--primary-color);
    filter: blur(0.5px);
    border-radius: 20px;
}

.pricing-wrapper:active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: none;
    transform: scale(1.1);
    z-index: 3;
}

@media (min-width: 600px) {

    .pricing-container {
        position: relative;
        width: 80%;
        justify-content: space-around;
    }

    .pricing-container>.pricing-wrapper {
        left: auto;
        transform: scale(1.5);
        filter: blur(0px);
    }

}