.comment-container {
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 355px;
    left: 10px;
    background: var(--disabled-color);
    border-radius: 20px;
    padding-bottom: 5px;
    margin-top: 1px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 2s ease;
}

.comment-container>section {
    margin-top: 2px;
}

.comment-header {
    width: 335px;
    height: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.comment-score {
    width: 120px;
    height: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.scored {
    background-image: url("./assets/icons/star-sm-icon-filled.svg");
}

.comment-date {
    width: 45px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-autor {
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.comment-body {
    width: 335px;
    height: 15px;
    overflow: hidden;
}

.comment-footer {
    width: 335px;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.comment-footer-options {
    width: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.oculto {
    display: none;
}

.invisible {
    visibility: hidden;
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .comment-container {
        left: 20px;
        width: 90%;
    }

    .comment-header {
        width: 90%;
    }

    .comment-header .comment-date > div,  .comment-header .comment-autor > div{
        font-size: var(--normal-font);
    }

    .comment-body {
        width: 90%;
        height: auto;
    }

    .comment-footer {
        width: 90%;
    }
}

@media (min-width: 1000px) {
    .comment-container {
        left: 200px;
        width: 60%;
    }

    .comment-header {
        width: 90%;
    }

    .comment-header .comment-date > div,  .comment-header .comment-autor > div{
        font-size: var(--normal-font);
    }

    .comment-body {
        width: 90%;
        height: auto;
    }

    .comment-footer {
        width: 90%;
    }
}