<div class="mode">
    <button id="btn_run"><img src="./assets/buttons/button_run.svg" alt=""></button>  
    <button id="btn_run_sel"><img src="./assets/buttons/button_run_sel.svg" alt=""></button>   
 
    <button id="btn_work" class="oculto"><img src="./assets/buttons/button_work.svg" alt=""></button>  
    <button id="btn_work_sel" class="oculto"><img src="./assets/buttons/button_work_sel.svg" alt=""></button>   
 
    <button id="btn_trial"><img src="./assets/buttons/button_Joy.svg" alt=""></button>
    <button id="btn_trial_sel"><img src="./assets/buttons/button_joy_sel.svg" alt=""></button>

</div>