.mode_op{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 110px;
    width: 40px;
    background-color: var(--base-color);
}

.oculto{
  /*  visibility: hidden; */
  display: none;
}
