<section class="mode_op">
    <button id="btn_run"><img src="./assets/buttons/button_run.svg" alt=""></button>  
    <button id="btn_run_sel" class="oculto"><img src="./assets/buttons/button_run_sel.svg" alt=""></button>   
 
    <button id="btn_work" ><img src="./assets/buttons/button_work.svg" alt=""></button>  
    <button id="btn_work_sel" class="oculto"><img src="./assets/buttons/button_work_sel.svg" alt=""></button>   
 
    <button id="btn_trial"><img src="./assets/buttons/button_Joy.svg" alt=""></button>
    <button id="btn_trial_sel" class="oculto"><img src="./assets/buttons/button_joy_sel.svg" alt=""></button>
</section>