<section class="song-container">
    <section class="song-display-container">
        <div class="song-display-content">
            <div class="song-display-image">
                <img src="./assets/images/hot-space-queen-sm.svg" alt="">
            </div>
            <div class="song-display-options">
                <button>
                    <img src="./assets/buttons/button_play.svg" alt="" srcset="">
                </button>
            </div>            
        </div>
    </section>
    <section class="song-description-container">
        <section class="song-description-header">
            <div class="score-container">
                <img src="./assets/icons/star-sm-icon.svg" alt="" srcset="" class="score scored">
                <img src="./assets/icons/star-sm-icon.svg" alt="" srcset="" class="score scored">
                <img src="./assets/icons/star-sm-icon.svg" alt="" srcset="" class="score">
                <img src="./assets/icons/star-sm-icon.svg" alt="" srcset="" class="score">
                <img src="./assets/icons/star-sm-icon.svg" alt="" srcset="" class="score">
            </div>
            <div class="info-container">
                <span class="normal">112.569.266 reproducciones</span>
            </div>
        </section>
        <section class="song-description-body">
            <div class="song-description-title">
                <h4>Under Pressure (ft. David Bowie)</h4>
            </div>
            <div class="song-description-artist">
                <h4>Queen</h4>
            </div>
            <div class="normal song-description-itself">
                <span class="normal">«Under Pressure» (en español: Bajo Presión) es una canción del año 1981, grabada por la banda de rock británica Queen y el cantante David Bowie para el álbum de Queen, Hot Space editado en 1982. Originalmente lanzado como sencillo en octubre de 1981, más tarde fue incluido en el álbum de Queen de 1982, Hot Space.</span>
            </div>
        </section>
    </section>
</section>