<nav class="base">

    <div class="icon">

        <img src="./assets/icons/icon-white.svg" alt="">

    </div>

    <div>
        <h4 class="init linked"><a href="index.html"> Inicio </a></h4>

    </div>
    <div>
        <h4 class="linked navigate">Navegar</h4>
        <div class="notlinked navigate">
            <img src="./assets/icons/navigate.svg" alt="">
        </div>
    </div>
    <div>
        <h4 class="linked library">Biblioteca</h4>
        <div class="notlinked library">
            <img src="./assets/icons/library.svg" alt="">

        </div>
    </div>
    <div class="search-bar">
        <input class="input block primary search linked" type="text">
        <div class="lupa linked">

            <img src="./assets/icons/glass.svg" alt="">

        </div>
        <div class="lupa notlinked">
            <img src="./assets/icons/glass-white.svg" alt="">
        </div>
    </div>
    <div class="image normal profile"  id="profile">
        <img src="./assets/images/profile.png" alt="">
        <div class="notification primary">2</div>
    </div>
</nav>




