<nav class="base">

    <div class="icon">

        <img src="/assets/icons/icon-white.svg" alt="">

    </div>

    <div>
        <h3 class="init linked"><a href="/index.html"> Inicio </a></h3>

    </div>
    <div>
        <h3 class="linked"><a href="/index.html">Navegar</a></h3>
        <div class="notlinked">
            <img src="../../assets/icons/navigate.svg" alt="">
        </div>
    </div>
    <div>
        <h3 class="linked"><a href="/index.html">Biblioteca</a></h3>
        <div class="notlinked">
            <img src="../../assets/icons/library.svg" alt="">

        </div>
    </div>
    <div class="search-bar">
        <input class="input block primary search linked" type="text">
        <div class="lupa linked">

            <img src="../../assets/icons/glass.svg" alt="">

        </div>
        <div class="lupa notlinked">
            <img src="../../assets/icons/glass-white.svg" alt="">

        </div>
    </div>
    <div class="image normal profile"  id="profile">
        <img src="./assets/images/profile.png" alt="">
        <div class="notification primary">2</div>
    </div>
</nav>