<div class="parent">

    <div class="indications2">
        <div class="imageSong2 image normal squared">
            <img alt="">
        </div>
        <div class="imagePlay2 ">
            <img src="./assets/buttons/button_play_nobg.svg" alt="">
        </div>
    </div>
    <div class="indications">
        <div class="imageSong image normal squared">
            <img alt="">
        </div>
        <div class="imagePlay ">
            <img src="./assets/buttons/button_play_nobg.svg" alt="">
        </div>
        <span class="name"></span>
        <div class="elipsis"> <span class="artist"></span>-<span class="album"></span></div>

    </div>
    <div class="second">
        <span class="time"></span>
        <button class="like">
            <img src="/assets/buttons/button_like.svg" class="notliked" alt="">
            <img src="/assets/buttons/button_liked.svg" class="liked ocultar" alt="">
        </button>

        <button class="trash">
            <img src="/assets/buttons/cesto-mati.svg" class="" alt="">
       
        </button>

        <button class="options">
            <img src="./assets/icons/icon-dotoptions.svg" alt="">
        </button>
  
    </div>
</div>
<music-menu class="music-menu ocultaM" menus='[
{"name":"Ir a la radio"},
{"name":"Agregar a lista"},
{"name":"Compartir"},
{"name":"Ver","link":"description-page"},
{"name":"Reproducir"}]'>
    </context-menu>