<section class="comment-container">
    <section class="comment-header">
        <div class="comment-score"></div>
        <div class="comment-date">
            <div class="small" id="comment-autor">
                <p>26/11/2020</p>
            </div>
        </div>
        <div class="comment-autor">
            <div class="small" id="comment-autor">
                <p>Claudio Caniggia</p>
            </div>
        </div>
    </section>
    <section class="comment-body">
        <section class="comment-insert">
            <input name="" placeholder="Escribe tu comentario" class="input lg primary">
            <img src="./assets/icons/send-md-icon.svg" alt="" srcset="">
        </section>
    </section>
</section>