.player {
  display: grid;
  grid-template-columns: 20vw 10vw 40vw 30vw;
  align-items: center;
  justify-items: center;
  height: 62px;
  width: 100vw;
  background-color: var(--base-color);
  justify-content: center;
  overflow: hidden;
}

.icon_actual {
  display: none;
}

.progress {
  height: 7px;
  width: 100%;
  align-items: center;
  bottom: 62px;
  background-color: var(--base-color);
}

#myProgress {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #f4f4f4;
  border-radius: 15px;
}

#myBar {
  position: absolute;
  width: 1%;
  height: 5px;
  background-color: #cf7500;
  border-radius: 15px;
}

/*******************PayerConsole*******************/

.player_buttons {
  display: flex;
  flex-direction: row;
  width: 160px;
  justify-content: space-evenly;
  align-items: center;
  height: inherit;
  background-color: var(--base-color);
}

.play_select {
  position: relative;
}

.text_desck {
  display: none;
}

.text_info {

  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: space-around;
  color: var(--primary-color);
  height: inherit;
  overflow: hidden;
}

.logo_placa {
  height: 50px;
  width: 50px;
  background-color: var(--primary-color);
}

.button_oculto {
  display: none;
}

/****************NEXT PREVIUS********************/

.btn_next {
  display: inline-block;
  align-items: initial;
  height: 22px;
  width: 22px;
  cursor: pointer;
}

.comandos {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  width: 80%;
  margin: 0 10%;
  justify-content: space-between;
}

.comandos_desk {
  display: none;
  flex-direction: row;
  align-items: center;
  height: auto;
  width: 80%;
  margin: 0 10%;
  justify-content: space-between;
}

.options {
  width: 22px;
  height: 22px;
}

.social {
  width: 30px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/*******************LOADER**********************/

.loader {
  border: 5px solid var(--secondary-color);
  border-radius: 50%;
  border-top: 5px solid var(--primary-color);
  border-bottom: 5px solid var(--primary-color);
  width: 38px;
  height: 38px;
  -webkit-animation: spin 0.5s linear infinite;
  animation: spin 0.5s linear infinite;
  align-content: center;
  position: absolute;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

marquee {
  margin: 0px 0px 0 5px;
  text-overflow: ellipsis;
}

marquee>p{
  text-overflow: ellipsis;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.icon_actual.image.normal.square {
  border-radius: 0;
}

.button_desktop {
  display: none;
}

/* #btn_random {
  display: none;
}

#btn_randomsel {
  display: none;
}

#btn_repeat {
  display: none;
}

#btn_repeatsel {
  display: none;
}

#volumen_desk {
  display: none;
}

#btn_eq {
  display: none;
}

#btn_eqsel {
  display: none;
}

#btn_mod {
  display: none;
}

#btn_modsel {
  display: none;
} */

@media(min-width: 600px) {
  .comandos {
    display: none !important;
  }
  .comandos_desk {
    display: flex;
  }
  .player {
    display: grid;
    width: 100%;
    grid-template-columns: 64px 17vw 13vw 19vw 39vw;
    gap: 2vw;
  }
  #volumen_desk {
    display: initial;
  }
  .comandos {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    margin: 0 5VW;
    justify-content: space-between;
  }
  .button_desktop {
    display: inherit;
  }
  #btn_options {
    display: none;
  }
  .icon_actual {
    display: inline;
    width: 50px;
    height: 50px;
    background-color: grey;
  }
  .social {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    width: 80px;
    height: auto;
    align-items: baseline;
    justify-content: space-around;
  }
  .text_movil {
    display: none;
  }
  .text_desck {
    display: inherit;

    white-space: nowrap;
    font-size:  var(--big-font);
  }
  #myProgress {
    width: 50%;
    left: 25%;
  }
}