<section>
    <div class="text_info">
        <span class="normal">Tema que estas escuchando</span>
        <span class="small"> nombre del artista</span>
    </div>
    <div class="social">
        <button id="btn_like"><img src="./assets/buttons/button_like.svg" alt="liked"></button>
        <button id="btn_liked" class="button_oculto"><img src="./assets/buttons/button_liked.svg" alt="liked"></button>

        <button id="btn_score"><img src="./assets/buttons/button_score.svg" alt=""></button>
        <button id="btn_scored" class="button_oculto"><img src="./assets/buttons/button_scored.svg" alt=""></button>

    </div>
    <div class="player_buttons">    
            <button class="btn_next"><img src="./assets/icons/icon-prew.svg"></button>

            <button id="btn_play"><img src="./assets/buttons/button_play.svg" alt=""></button>
            <button class="button_oculto" id="btn_pause"><img src="./assets/buttons/button_pause.svg" alt=""></button>

            <button class="btn_next"><img src="./assets/icons/icon-next.svg"></button>
    </div>
    <div class="comandos">
        <button class="options"><img src="./assets/icons/icon-volumen.svg" alt=""></button>
        <button class="options" id="btn_options"><img src="./assets/icons/icon-dotoptions.svg" alt=""></button>
    </div>
</section>