<section class="progress">
    <div id="myProgress">
        <div id="myBar"></div>
    </div>
</section>
<section class="player">
    <div class="icon_actual image normal square">
        <img src="" alt="">
    </div>
    <div class="text_info">
        <div class="text_movil">
            <marquee class="normal"> 
                <p class="name"> Tema que estas escuchando </p>
                <p class="artista"> Artista </p>
            </marquee>
        </div>
        <div class="text_desck normal">
            <span class="name"> Tema que estas escuchando </span>
            <div> - </div>
            <span class="artista"> Artista </span>
        </div>
    </div>
    <div class="social">
        <button id="btn_like"><img src="./assets/buttons/button_like.svg" alt="liked"></button>
        <button id="btn_liked" class="button_oculto"><img src="./assets/buttons/button_liked.svg" alt="liked"></button>
        <div class="button_desktop">
            <button id="btn_score_desk"><img src="./assets/buttons/button_score.svg" alt=""></button>
            <button id="btn_scored_desk" class="button_oculto"><img src="./assets/buttons/button_scored.svg" alt=""></button>
        </div>
    </div>
    <div class="player_buttons">    
            <button class="btn_next"><img src="./assets/icons/icon-prew.svg"></button>
            <div class = "play_select">
                <div  id="spiner" class="loader"></div> 
                <button id="btn_play"><img src="./assets/buttons/button_play.svg" alt=""></button>
                <button class="button_oculto" id="btn_pause"><img src="./assets/buttons/button_pause.svg" alt=""></button>
            </div>  
            <button class="btn_next"><img src="./assets/icons/icon-next.svg"></button>
    </div>
    <div class="comandos">
        <button class="options"><img src="./assets/icons/icon-volumen.svg" alt=""></button>
        <button class="options" id="btn_options"><img src="./assets/icons/icon-dotoptions.svg" alt=""></button>


       
    </div>
    
    <div class="comandos_desk">
        <button id="btn_random"><img src="./assets/buttons/button_random.svg" alt=""></button> 
        <button id="btn_randomsel" class="button_oculto"><img src="./assets/buttons/button_random_sel.svg" alt=""></button>   
        <button id="btn_repeat"><img src="./assets/buttons/button_repeat.svg" alt=""></button>    
        <button id="btn_repeatsel" class="button_oculto"><img src="./assets/buttons/button_repeat_sel.svg" alt=""></button>    
        <button class="options"><img src="./assets/icons/icon-volumen.svg" alt=""></button>
        <button class="options" id="btn_options"><img src="./assets/icons/icon-dotoptions.svg" alt=""></button>
        <app-volumen id="volumen_desk"></app-volumen>
        <button id="btn_eq"><img src="./assets/buttons/button_eq.svg" alt=""></button>
        <button id="btn_eqsel" class="button_oculto"><img src="./assets/buttons/button_eq_sel.svg" alt=""></button>
        <button id="btn_mod"><img src="./assets/buttons/button_mod.svg" alt=""></button>   
        <button id="btn_modsel" class="button_oculto"><img src="./assets/buttons/button_mod_sel.svg" alt=""></button>   

       
    </div>
    

  
 
</section>