.buscador{
    height: 64px;
    background-color: var(--base-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.buscador input.input.block{
    height: 31px;
    border-radius: 50px;
}

.lupa{
    position: absolute;
    top: 17px;
    right: 30px;
}