div{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: var(--base-color);
    width: 266px;
    right: 84px;
    position: fixed;
    bottom: 64px;
    justify-content: flex-end;

}
app-slider
{
    position: relative;
    margin: 0 5px;
}