div{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: var(--base-color);
    width: 300px;
}
app-slider
{
    position: relative;
    margin: 0 5px;
}