<div class="option">
    <button id="btn_mod"><img src="./assets/buttons/button_mod.svg" alt=""></button>   
    <button id="btn_modsel" class="oculto"><img src="./assets/buttons/button_mod_sel.svg" alt=""></button>   
    <button id="btn_eq"><img src="./assets/buttons/button_eq.svg" alt=""></button>
    <button id="btn_eqsel" class="oculto"><img src="./assets/buttons/button_eq_sel.svg" alt=""></button>
    <button id="btn_random"><img src="./assets/buttons/button_random.svg" alt=""></button> 
    <button id="btn_randomsel" class="oculto"><img src="./assets/buttons/button_random_sel.svg" alt=""></button>   
    <button id="btn_repeat"><img src="./assets/buttons/button_repeat.svg" alt=""></button>    
    <button id="btn_repeatsel" class="oculto"><img src="./assets/buttons/button_repeat_sel.svg" alt=""></button>    
</div>
