<section class="comment-container">
    <section class="comment-header">
        <div class="comment-qualification">
            <div class="star-container">
                
            </div>
        </div>
        <div class="comment-date">
            <div class="small" id="comment-autor">
                <p>20/11/2020</p>
            </div>
        </div>
        <div class="comment-autor">
            <div class="small" id="comment-autor">
                <p>Javier Lopez</p>
            </div>
        </div>
    </section>
    <section class="comment-body">
        <div class="normal" id="comment-itself"></div>
    </section>
    <section class="comment-footer"></section>
</section>